/* ManagerDashboard.css */

.manager-dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin-top: 70px;

}
.title-trv{
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.2rem;
}
.title-mgr{
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  color: black;
  text-align: center;
  font-weight: bolder;
  margin: 50px;
  margin-bottom: 20px;
  text-decoration: underline;
  text-decoration-color: #FFD700;
  font-size: 1.8rem;

}
h1 {
  color: black;
  text-align: center;
  font-weight: bolder;
  margin: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  color: black;
  font-weight: bolder;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0.9);
}


.header{
  background-color: #ffecb3;
}
table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
 
    border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

button {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
 
  
  cursor: pointer;
}

.approve-button {
  background-color: #FFD700;
  color: black;
  border-radius: 5px;
  margin-right: 5px;
}

.reject-button {
  background-color: #f44336; 
  color: black;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

p {
  text-align: center;
  color: #777;
}
